

@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}
<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-content-locked {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .k-grid-header {
        font-size: 11px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }
</style>



<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/main/DashBoard">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="sales/saleshome/dashboard/Dashboard">Organiser</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <div class="actions">
                    
                        <label>
                            <input type="checkbox" id="togglePanColumn" checked />
                            Show Acount
                        </label>
                    
                    <div class="btn-group">
                        <select id="reportSelector" class="form-control">
                            <option value="VatPurchaseRegisterNew" selected>Vat Purchase Register</option>
                            <option value="VatPurchaseReturnRegisterNew"> Vat Purchase Return Register</option>
                        </select>
                    </div>

                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowSupplierFilter = true,
                       ShowPurchaseDocumentFilter = true,
                       //ShowAreaFilter = true,
                       //ShowProductFilter = true,
                       //ShowCategoryFilter = true,
                       //ShowCompanyFilter = true,
                       //ShowBranchFilter = true
                   })
                    </div>

                    @Html.Partial("~/Views/Shared/Controls/_reportFilterSettings.cshtml", new ReportFilterSettingsModel()
               {
                   ShowAmountFigureFilter = true,
                   ShowAmountFilter = true,
                   ShowAmountRoundUpFilter = true,
                   ShowRangeAmountFilter = true,

               })

                    @Html.Partial("~/Views/Shared/Controls/ComposeMail.cshtml")
                    <a data-toggle="modal" id="RunQuery" href="#">
                        <div class="btn btn-circle btn-icon-only btn-default" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip" title="Refresh">
                            <i class="icon-control-play"></i>
                        </div>
                    </a>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_ReportConfig.cshtml", "VatSalesRegisterNew")
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">


                <div class="portlet-body form">
                    <div class="row">
                        <div id="grid" class="table-grid"></div>
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script src="@Scripts.Url("~/JS/DateFilter.js?V5")" type="text/javascript"></script>
<script src="@Scripts.Url("~/JS/dynamicReport.js?V2")" type="text/javascript"></script>
<script type="text/javascript">
    var fileMailSender = new ManualEmailSender({
        GridName: "grid",
        GridRefreshTriggerName: "Runquery",
        // reportName: "VatSalesRegisterNew",
    });
</script>
<script type="text/javascript">
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

</script>
<script>

    //var reportConfig = GetReportSetting("VatSalesRegisterNew");
    //function getDateFormat(date) {
    //    return kendo.format("{0:" + reportConfig.dateFormat + "}", date);
    //}

    $(".applydp").on("click", function (evt) {
        evt.preventDefault();
        $("#RunQuery").trigger("click");
    })

    $("#loadAdvancedFilters").on("click", function (evt) {
        evt.preventDefault();
        $("#RunQuery").trigger("click");
    });




    $(document).ready(function () {
        function getReportUrl(reportName) {
            return window.location.protocol + "//" + window.location.host + "/api/SalesHome/Get" + reportName;
        }
        var reportName = $("#reportSelector").val();
        var urltest = getReportUrl(reportName);

        DateFilter.init(function () {
            consolidate.init(function () {
                runGridBinding(reportName, urltest);
            });
        });

        fileMailSender.init();

        $("#RunQuery").click(function (evt) {
            evt.preventDefault();
            reportName = $("#reportSelector").val();
            urltest = getReportUrl(reportName);
            KendoGridRefresh(urltest);
        });

        $("#reportSelector").change(function () {
            reportName = $(this).val();
            urltest = getReportUrl(reportName);
            runGridBinding(reportName, urltest);
        });
        // Trigger refresh when applying date or advanced filters
        $(".applydp, #loadAdvancedFilters").on("click", function (evt) {
            evt.preventDefault();
            $("#RunQuery").trigger("click");
        });
        // Conditional binding wrapper
        function runGridBinding(reportName, url) {

            if (reportName === "VatPurchaseRegisterNew")
            {
                BindPurchaseGrid(url);
            }
            else if (reportName === "VatPurchaseReturnRegisterNew")
            {
                BindPurchaseReturnGrid(url);
            }
        }
        var reportConfig = reportName;
        function getDateFormat(date) {
            return kendo.format("{0:" + reportConfig.dateFormat + "}", date);
        }



        function BindPurchaseGrid(readurl) {
            if ($("#grid").data("kendoGrid")) {
                $("#grid").data("kendoGrid").destroy();
                $("#grid").empty(); // Clear old content to prevent duplicates
            }
        var companyName = ('@workingContent.CurrentUserinformation.company_name');
        var fromADdate = $("#FromDateVoucher").val()
        var toADdate = $("#ToDateVoucher").val();
        var fromBSdate = $("#fromInputDateVoucher").val();
        var toBSdate = $("#toInputDateVoucher").val();
        var branches = ReportFilter.getBranchs();
         reportConfig = GetReportSetting("VatPurchaseRegisterNew");
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: readurl, // <-- Get data from here.
                    dataType: "json", // <-- The default was "jsonp".
                    type: "POST",
                    contentType: "application/json; charset=utf-8"
                },
                parameterMap: function (options, type) {
                    var paramMap = JSON.stringify($.extend(options, ReportFilter.filterAdditionalData()));
                    //  paramMap.formDate = $("#FromDateVoucher").val();
                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                    delete paramMap.$format; // <-- remove format parameter.
                    return paramMap;
                }

            },
            error: function (e) {
                displayPopupNotification("Sorry error occured while processing data", "error");
            },
            serverFiltering: true,
            serverAggregates: true,
            schema: {
                data: "VatPurchaseNew", // records are returned in the "data" field of the response
                total: function (response) {
                    // Ensure we get the total count of ALL records (not just current page)
                    return response.Total || response.total || (response.VatPurchaseNew ? response.VatPurchaseNew.length : 0);
                },
                aggregates: "AggregationResult",
                model: {
                    fields: {
                        INVOICE_DATE: { type: "string" },
                        MITI: { type: "string" },
                        INVOICE_NO: { type: "string" },
                        SUPPLIER_INV_NO: { type: "string" },
                        SUPPLIER_INV_DATE: { type: "string" },
                        PP_NO: { type: "string" },
                        SUPPLIER_CODE: { type: "string" },
                        SUPPLIER_EDESC: { type: "string" },
                        TPIN_VAT_NO: { type: "string" },
                        P_TYPE: { type: "string" },
                        FORM_CODE: { type: "string" },
                        ACC_IN_VOUCHER: { type: "string" },
                        INVOICE_TOTAL_PRICE: { type: "number" },
                        VAT_TOTAL_PRICE: { type: "number" },
                        TAXFREE_PURCHASE: { type: "number" },
                        TAXABLE_PURCHASE: { type: "number" },
                        TAXABLE_VAT: { type: "number" },
                        TAXABLE_PURCHASE_IMPORT: { type: "number" },
                        TAXABLE_VAT_IMPORT: { type: "number" },
                        TAX_PUR_IMP_CAP: { type: "number" },
                        TAX_VAT_IMP_CAP: { type: "number" }
                    }

                }
            },
            aggregate: [
                { field: "INVOICE_TOTAL_PRICE", aggregate: "sum" },
                { field: "TAXFREE_PURCHASE", aggregate: "sum" },
                { field: "TAXABLE_PURCHASE", aggregate: "sum" },
                { field: "TAXABLE_VAT", aggregate: "sum" },
                { field: "TAX_PUR_IMP_CAP", aggregate: "sum" },
                { field: "TAXABLE_VAT_IMPORT", aggregate: "sum" },
                { field: "TAXABLE_PURCHASE_IMPORT", aggregate: "sum" },
                { field: "TAX_VAT_IMP_CAP", aggregate: "sum" }
            ],
            serverPaging: true,
            //serverSorting: true,
            pageSize: reportConfig.defaultPageSize,
        });
         // Uncheck the checkbox on load
         $("#togglePanColumn").prop("checked", false);
        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            toolbar: kendo.template($("#toolbar-template").html()),
            excel: {
                fileName: "Vat Sales Register",
                //proxyURL: "//demos.telerik.com/kendo-ui/service/export",
                allPages: true
            },
            excelExport: function (e) {
                e.preventDefault();
                var workbook = e.workbook;
                var sheet = workbook.sheets[0];

                // Step 1: Clean the footer (Grand Total) values by removing any HTML tags
                for (var i = 0; i < sheet.rows.length; i++) {
                    var row = sheet.rows[i];

                    if (row.type === "footer") { // Only for footer rows
                        for (var j = 0; j < row.cells.length; j++) {
                            var cell = row.cells[j];

                            if (cell && cell.value && typeof cell.value === "string") {
                                // Remove HTML tags and extra spaces
                                cell.value = cell.value.replace(/<[^>]*>/g, '').trim();

                                // Optional: if cell is numeric after cleanup, convert it to number
                                if (!isNaN(cell.value.replace(/,/g, ""))) {
                                    cell.value = parseFloat(cell.value.replace(/,/g, ""));
                                }
                            }
                        }
                    }
                }
                // Step 2: Add custom headers before the data rows
                sheet.rows.unshift({
                    cells: [{ value: "Vat Purchase Register".split('').join(' '), colSpan: 18 }]
                });
                var filterText = $("#AdvanceFilter").attr('data-original-title');
                if (filterText.indexOf('|') < 0) {
                    filterText = $((filterText).replace(/<strong>/g, "|")).text().replace('|', '').split('|').reverse();
                    $.each(filterText, function (k, item) {
                        sheet.rows.unshift({
                            cells: [{ value: item, colSpan: 18 }]
                        });
                    });
                }
                if (filterText.toString().indexOf('Date Range') < 0) {
                    sheet.rows.unshift({
                        cells: [{ value: "From :- " + fromADdate + "(" + fromBSdate + ")" + "\t To :- " + toADdate + "(" + toBSdate + ")", colSpan: 18 }]
                    });
                }
                for (var companyCount = 0; companyCount < branches.length; companyCount++) {
                    sheet.rows.unshift({
                        cells: [{ value: branches[companyCount].Company + " :- " + branches[companyCount].Branches.join(','), colSpan: 18 }]
                    });
                }
                sheet.rows.unshift({
                    cells: [{ value: companyName.split('').join(' '), colSpan: 18 }]
                });
                // Step 3: Create a final Workbook object
                var WorkbookFinal = new kendo.ooxml.Workbook({
                    sheets: [{
                        columns: [
                            { width: 110 } // Optional: you can set widths properly if you want
                        ],
                        rows: sheet.rows
                    }]
                });
                // Step 4: Save the final Excel file
                kendo.saveAs({
                    dataURI: WorkbookFinal.toDataURL(),
                    fileName: "Vat Purchase Register.xlsx"
                });
            },
            height: window.innerHeight - 50,
            sortable: true,
            reorderable: true,
            groupable: true,
            resizable: true,
            filterable: {
                extra: false,
                operators: {
                    number: {
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",
                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }
                }
            },
                columnMenu: true,
                columnMenuInit: function (e) {
                    wordwrapmenu(e);
                    checkboxItem = $(e.container).find('input[type="checkbox"]');
                },
                columnShow: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('VatPurchaseRegisterNew', 'grid');
                },
                columnHide: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('VatPurchaseRegisterNew', 'grid');
                },
                pageable: {
                    refresh: true,
                    pageSizes: reportConfig.itemPerPage,
                    buttonCount: 5
                },
            scrollable: true,  // simple scrolling, not virtual
            //dataBound: function (o) {
            //    var grid = o.sender;
            //    if (grid.dataSource.total() == 0) {
            //        var colCount = grid.columns.length + 1;
            //        $(o.sender.wrapper)
            //            .find('tbody')
            //            .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
            //        displayPopupNotification("No Data Found Given Date Filter.", "info");
            //    }
            //    else {
            //        //var g = $("#grid").data("kendoGrid");
            //        //for (var i = 0; i < g.columns.length; i++) {
            //        //    g.showColumn(i);
            //        //}
            //        //$("div.k-group-indicator").each(function (i, v) {
            //        //    g.hideColumn($(v).data("field"));
            //        //});
            //    }
            //    //var myElem = document.getElementById('trParentHeader');
            //    //if (myElem == null) {
            //    //    $("#grid").find("th.k-header").parent().before("<tr id='trParentHeader'><th class='k-header'></th><th class='k-header'></th> <th class='k-header'></th><th class='k-header'></th><th class='k-header'></th><th class='k-header'></th><th class='k-header'></th> <th colspan='2' class='k-header'><strong>Local Purchase of Trade Goods</strong></th>  <th colspan='2' class='k-header'><strong>Import Purchase</strong></th>  <th scope='col' colspan='2' class='k-header'><strong>Administrative Expenses</strong></th><th scope='col' colspan='2' class='k-header'><strong>Capital Expenditure</strong></th><th scope='col' colspan='2' class='k-header'><strong>Total Purchase</strong></th><th scope='col' colspan='2' class='k-header'><strong>Total of VAT</strong></th></tr>");
            //    //}
            //    $('div').removeClass('.k-header k-grid-toolbar');
            //    UpdateReportUsingSetting("VatSalesRegisterNew", "grid");
            //},
            dataBound: function (o) {
                var grid = o.sender;
                if (grid.dataSource.total() == 0) {
                    var colCount = grid.columns.length+1;
                    $(o.sender.wrapper)
                        .find('tbody')
                        .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                    displayPopupNotification("No Data Found Given Date Filter.", "info");
                }

                $('div').removeClass('.k-header k-grid-toolbar');
                UpdateReportUsingSetting("VatPurchaseRegisterNew", "grid");
                 var grid = this;
                grid.hideColumn("ACC_IN_VOUCHER");
            },
            columns: [
                {
                    field: "MITI",
                    title: "Miti",
                    width: "70px",
                    template: "#= MITI.replace(/-/g, '.') #"
                },
                {
                    title: "Invoice/PP No",
                    columns: [

                        {
                            field: "SUPPLIER_INV_NO",
                            title: "Invoice No",
                            width: "120px",
                        },
                        {
                            field: "PP_NO",
                            title: "PP No",
                            width: "90px",
                        },
                        {
                            field: "SUPPLIER_EDESC",
                            title: "Vendor's Name",
                            width: "180px",
                        },
                        {
                            field: "TPIN_VAT_NO",
                            title: "PAN No",
                            width: "80px",
                            footerTemplate: '<span style="float:right"> Grand Total</span>',
                        },
                    ]
                },
                {
                    field: "INVOICE_TOTAL_PRICE",
                    title: "Total Purchase Value",
                    width: "150px",
                    attributes:
                    {
                        style: "text-align: right;"
                    },
                    aggregates: ["sum"],
                    groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                    format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                    footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                },
                {
                    field: "TAXFREE_PURCHASE",
                    title: "Purchase/Import Value<br/>Tax Free Purchase Import",
                    width: "190px",
                    attributes:
                    {
                        style: "text-align: right;"
                    },
                    aggregates: ["sum"],
                    groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                    format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                    footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',


                },
                {
                    title: "Taxable Purchase<br/>(Other than Capital Items)",
                    columns: [
                        {
                            field: "TAXABLE_PURCHASE",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAXABLE_VAT",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    title: "Taxable Import<br/>(Other than Capital Items)",
                    columns: [
                        {
                            field: "TAX_PUR_IMP_CAP",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAXABLE_VAT_IMPORT",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    title: "Taxable Purchase/Import<br/>(Capital Items)",
                    columns: [
                        {
                            field: "TAXABLE_PURCHASE_IMPORT",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAX_VAT_IMP_CAP",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    field: "ACC_IN_VOUCHER",
                    title: "Account",
                    width: "90px",

                },

            ]

        });

        };
        function BindPurchaseReturnGrid(readurl) {
            if ($("#grid").data("kendoGrid")) {
                $("#grid").data("kendoGrid").destroy();
                $("#grid").empty(); // Clear old content to prevent duplicates
            }
        var companyName = ('@workingContent.CurrentUserinformation.company_name');
        var fromADdate = $("#FromDateVoucher").val()
        var toADdate = $("#ToDateVoucher").val();
        var fromBSdate = $("#fromInputDateVoucher").val();
        var toBSdate = $("#toInputDateVoucher").val();
        var branches = ReportFilter.getBranchs();
         reportConfig = GetReportSetting("VatPurchaseReturnRegisterNew");
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: readurl, // <-- Get data from here.
                    dataType: "json", // <-- The default was "jsonp".
                    type: "POST",
                    contentType: "application/json; charset=utf-8"
                },
                parameterMap: function (options, type) {
                    var paramMap = JSON.stringify($.extend(options, ReportFilter.filterAdditionalData()));
                    //  paramMap.formDate = $("#FromDateVoucher").val();
                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                    delete paramMap.$format; // <-- remove format parameter.
                    return paramMap;
                }
            },

            error: function (e) {
                displayPopupNotification("Sorry error occured while processing data", "error");
            },
            serverFiltering: true,
            serverAggregates: true,
            schema: {
                data: "VatPurchaseNew", // records are returned in the "data" field of the response
                total: function (response) {
                    // Ensure we get the total count of ALL records (not just current page)
                    return response.Total || response.total || (response.DateWiseSalesModelData ? response.DateWiseSalesModelData.length : 0);
                },
                aggregates: "AggregationResult",
                model: {
                    fields: {
                        INVOICE_DATE: { type: "string" },
                        MITI: { type: "string" },
                        INVOICE_NO: { type: "string" },
                        SUPPLIER_INV_NO: { type: "string" },
                        SUPPLIER_INV_DATE: { type: "string" },
                        PP_NO: { type: "string" },
                        SUPPLIER_CODE: { type: "string" },
                        SUPPLIER_EDESC: { type: "string" },
                        TPIN_VAT_NO: { type: "string" },
                        P_TYPE: { type: "string" },
                        FORM_CODE: { type: "string" },
                        ACC_IN_VOUCHER: { type: "string" },
                        INVOICE_TOTAL_PRICE: { type: "number" },
                        VAT_TOTAL_PRICE: { type: "number" },
                        TAXFREE_PURCHASE: { type: "number" },
                        TAXABLE_PURCHASE: { type: "number" },
                        TAXABLE_VAT: { type: "number" },
                        TAXABLE_PURCHASE_IMPORT: { type: "number" },
                        TAXABLE_VAT_IMPORT: { type: "number" },
                        TAX_PUR_IMP_CAP: { type: "number" },
                        TAX_VAT_IMP_CAP: { type: "number" }
                    }
                }
            },
            aggregate: [
                { field: "INVOICE_TOTAL_PRICE", aggregate: "sum" },
                { field: "TAXFREE_PURCHASE", aggregate: "sum" },
                { field: "TAXABLE_PURCHASE", aggregate: "sum" },
                { field: "TAXABLE_VAT", aggregate: "sum" },
                { field: "TAX_PUR_IMP_CAP", aggregate: "sum" },
                { field: "TAXABLE_VAT_IMPORT", aggregate: "sum" },
                { field: "TAXABLE_PURCHASE_IMPORT", aggregate: "sum" },
                { field: "TAX_VAT_IMP_CAP", aggregate: "sum" }
            ],
            serverPaging: true,
            //serverSorting: true,
            pageSize: reportConfig.defaultPageSize,
        });
         $("#togglePanColumn").prop("checked", false);
        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            toolbar: kendo.template($("#toolbar-template").html()),
            excel: {
                fileName: "Vat Purchase Return Register",
                allPages: true
            },
            excelExport: function (e) {
                e.preventDefault();
                var workbook = e.workbook;
                var sheet = workbook.sheets[0];

                // Step 1: Clean the footer (Grand Total) values by removing any HTML tags
                for (var i = 0; i < sheet.rows.length; i++) {
                    var row = sheet.rows[i];

                    if (row.type === "footer") { // Only for footer rows
                        for (var j = 0; j < row.cells.length; j++) {
                            var cell = row.cells[j];

                            if (cell && cell.value && typeof cell.value === "string") {
                                // Remove HTML tags and extra spaces
                                cell.value = cell.value.replace(/<[^>]*>/g, '').trim();

                                // Optional: if cell is numeric after cleanup, convert it to number
                                if (!isNaN(cell.value.replace(/,/g, ""))) {
                                    cell.value = parseFloat(cell.value.replace(/,/g, ""));
                                }
                            }
                        }
                    }
                }

                // Step 2: Add custom headers before the data rows
                sheet.rows.unshift({
                    cells: [{ value: "Vat Purchase Return Register".split('').join(' '), colSpan: 18 }]
                });

                var filterText = $("#AdvanceFilter").attr('data-original-title');
                if (filterText.indexOf('|') < 0) {
                    filterText = $((filterText).replace(/<strong>/g, "|")).text().replace('|', '').split('|').reverse();
                    $.each(filterText, function (k, item) {
                        sheet.rows.unshift({
                            cells: [{ value: item, colSpan: 18 }]
                        });
                    });
                }

                if (filterText.toString().indexOf('Date Range') < 0) {
                    sheet.rows.unshift({
                        cells: [{ value: "From :- " + fromADdate + "(" + fromBSdate + ")" + "\t To :- " + toADdate + "(" + toBSdate + ")", colSpan: 18 }]
                    });
                }

                for (var companyCount = 0; companyCount < branches.length; companyCount++) {
                    sheet.rows.unshift({
                        cells: [{ value: branches[companyCount].Company + " :- " + branches[companyCount].Branches.join(','), colSpan: 18 }]
                    });
                }

                sheet.rows.unshift({
                    cells: [{ value: companyName.split('').join(' '), colSpan: 18 }]
                });

                // Step 3: Create a final Workbook object
                var WorkbookFinal = new kendo.ooxml.Workbook({
                    sheets: [{
                        columns: [
                            { width: 110 } // Optional: you can set widths properly if you want
                        ],
                        rows: sheet.rows
                    }]
                });

                // Step 4: Save the final Excel file
                kendo.saveAs({
                    dataURI: WorkbookFinal.toDataURL(),
                    fileName: "Vat Purchase Return Register.xlsx"
                });
            },
            height: window.innerHeight - 50,
            sortable: true,
            reorderable: true,
            groupable: true,
            resizable: true,
            filterable: {
                extra: false,
                operators: {
                    number: {
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",
                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }
                }
            },
            columnMenu: true,
             columnMenuInit: function (e) {
                    wordwrapmenu(e);
                    checkboxItem = $(e.container).find('input[type="checkbox"]');
                },
                columnShow: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('VatPurchaseReturnRegisterNew', 'grid');
                },
                columnHide: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('VatPurchaseReturnRegisterNew', 'grid');
                },
                pageable: {
                    refresh: true,
                    pageSizes: reportConfig.itemPerPage,
                    buttonCount: 5
                },
            scrollable: {
                virtual: true
            },
            dataBound: function (o) {
                var grid = o.sender;
                if (grid.dataSource.total() == 0) {
                    var colCount = grid.columns.length + 1;
                    $(o.sender.wrapper)
                        .find('tbody')
                        .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                    displayPopupNotification("No Data Found Given Date Filter.", "info");
                }
                var grid = this;
                grid.hideColumn("ACC_IN_VOUCHER");
                $('div').removeClass('.k-header k-grid-toolbar');
                UpdateReportUsingSetting("VatPurchaseReturnRegisterNew", "grid");
            },
            //dataBound: function (o) {
            //    var grid = o.sender;
            //    if (grid.dataSource.total() == 0) {
            //        var colCount = grid.columns.length+1;
            //        $(o.sender.wrapper)
            //            .find('tbody')
            //            .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
            //        displayPopupNotification("No Data Found Given Date Filter.", "info");
            //    }
            //    else {
            //        //var g = $("#grid").data("kendoGrid");
            //        //for (var i = 0; i < g.columns.length; i++) {
            //        //    g.showColumn(i);
            //        //}
            //        //$("div.k-group-indicator").each(function (i, v) {
            //        //    g.hideColumn($(v).data("field"));
            //        //});
            //    }
            //    //var myElem = document.getElementById('trParentHeader');
            //    //if (myElem == null) {
            //    //    $("#grid").find("th.k-header").parent().before("<tr id='trParentHeader'><th class='k-header'></th><th class='k-header'></th> <th class='k-header'></th><th class='k-header'></th><th class='k-header'></th><th class='k-header'></th><th class='k-header'></th> <th colspan='2' class='k-header'><strong>Local Purchase of Trade Goods</strong></th>  <th colspan='2' class='k-header'><strong>Import Purchase</strong></th>  <th scope='col' colspan='2' class='k-header'><strong>Administrative Expenses</strong></th><th scope='col' colspan='2' class='k-header'><strong>Capital Expenditure</strong></th><th scope='col' colspan='2' class='k-header'><strong>Total Purchase</strong></th><th scope='col' colspan='2' class='k-header'><strong>Total of VAT</strong></th></tr>");
            //    //}
            //    $('div').removeClass('.k-header k-grid-toolbar');
            //    UpdateReportUsingSetting("VatPurchaseReturnRegisterNew", "grid");
            //},
            columns: [
                {
                    field: "MITI",
                    title: "Miti",
                    width: "70px",
                    template: "#= MITI.replace(/-/g, '.') #"
                },
                {
                    title: "Invoice/PP No",
                    columns: [

                        {
                            field: "SUPPLIER_INV_NO",
                            title: "Invoice No",
                            width: "120px",
                        },
                        {
                            field: "PP_NO",
                            title: "PP No",
                            width: "90px",
                        },
                        {
                            field: "SUPPLIER_EDESC",
                            title: "Vendor's Name",
                            width: "150px",
                        },
                        {
                            field: "TPIN_VAT_NO",
                            title: "PAN No",
                            width: "80px",
                            footerTemplate: '<span style="float:right"> Grand Total</span>',
                        },
                    ]
                },
                {
                    field: "INVOICE_TOTAL_PRICE",
                    title: "Total Purchase<br/>Return Value",
                    width: "150px",
                    attributes:
                    {
                        style: "text-align: right;"
                    },
                    aggregates: ["sum"],
                    groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                    format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                    footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                },
                {
                    field: "TAXFREE_PURCHASE",
                    title: "Purchase/Import Value<br/>Tax Free<br/>Purchase Return",
                    width: "190px",
                    attributes:
                    {
                        style: "text-align: right;"
                    },
                    aggregates: ["sum"],
                    groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                    format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                    footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',


                },
                {
                    title: "Taxable Purchase Return<br/>(Other than Capital Items)",
                    columns: [
                        {
                            field: "TAXABLE_PURCHASE",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAXABLE_VAT",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    title: "Taxable Import Return<br/>(Other than Capital Items)",
                    columns: [
                        {
                            field: "TAX_PUR_IMP_CAP",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAXABLE_VAT_IMPORT",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    title: "Taxable Purchase/Import<br/>Return(Capital Items)",
                    columns: [
                        {
                            field: "TAXABLE_PURCHASE_IMPORT",
                            title: "Amount",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },
                        {
                            field: "TAX_VAT_IMP_CAP",
                            title: "TAX",
                            width: "90px",
                            attributes:
                            {
                                style: "text-align: right;"
                            },
                            aggregates: ["sum"],
                            groupFooterTemplate: '<span style="float:right"> #=kendo.toString(sum, "n"+ReportFilter.parseDecimalPlace("AmountRoundUpFilter").toString())#</span>',
                            format: "{0:n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter").toString() + "}",
                            footerTemplate: '# if (typeof sum !== "undefined") { # <span style="float:right">#= kendo.toString(sum, "n" + ReportFilter.parseDecimalPlace("QuantityRoundUpFilter")) #</span> # } #',

                        },

                    ]
                },
                {
                    field: "ACC_IN_VOUCHER",
                    title: "Account",
                    width: "90px",

                },

            ]

        });

    };

        function KendoGridRefresh(readUrl) {
            $('#grid').val('');
            $('#grid').html('');
            BindPurchaseGrid(readUrl)
        }
        function KendoGridRefresh(readUrl) {
            $('#grid').val('');
            $('#grid').html('');
            BindPurchaseReturnGrid(readUrl)
        }
    });
    $(document).on("change", "#togglePanColumn", function () {
        var grid = $("#grid").data("kendoGrid");
        var isChecked = $(this).is(":checked",);

        if (isChecked) {
            grid.showColumn("ACC_IN_VOUCHER");
        } else {
            grid.hideColumn("ACC_IN_VOUCHER");
        }
    });

</script>


