@{
	Layout = null;

}
<style>
	.input-text {
		width: 200px;
	}

	.form-text {
		width: 200px !important;
		margin-right: 16px !important;
	}

	.input-6 {
		width: 370px;
	}

	.input-3 {
		width: 220px;
	}

	.inner-line {
		width: 100%;
		height: 2px;
		background-color: black; /* solid line */
		position: absolute;
		top: 50%; /* position the line halfway vertically */
		left: 0;
	}

	.third-grid {
		height: 52px;
		border-style: solid;
		border-width: 2px;
		/*color: #333333;*/
		border: 1px solid #e1e1e1 !important;
		min-height: 1px;
	}

	.fourth-grid {
		height: 52px;
		border-style: solid;
		border-width: 2px;
		/*color: #333333;*/
		border: 1px solid #e1e1e1 !important;
		min-height: 1px;
	}

	.fifth-grid {
		height: 52px;
		border-style: solid;
		border-width: 2px;
		/*color: #333333;*/
		border: 1px solid #e1e1e1 !important;
		min-height: 1px;
	}

	.label-font {
		margin: 0px 0px 5px 370px;
		font-weight: bold;
	}

	.stamp-details {
		height: 100px;
		border-style: solid;
		border-width: 2px;
		border: 1px solid #e1e1e1 !important;
		min-height: 1px;
		margin-left: 770px;
		width: 91px;
	}

	.div-margin-top {
		margin-top: 15px;
	}

	.div-second-margin-top {
		margin-top: 5px;
	}

	.margin-dust {
		margin-left: 50px;
	}

	.div-margin {
		margin-right: 90px !important;
	}

	.div-margin-master {
		margin-right: 78px !important;
	}

	.div-margin-master-textbox {
		margin-right: 127px !important;
		width: 24% !important;
	}

	.div-margin-master-second-textbox {
		width: 23% !important;
	}

	.div-margin-master-third-textbox {
		width: 22% !important;
		padding-left: 0px !important;
	}

	.div-margin-master-date {
		display: flex;
		margin-top: 16px;
		margin-right: 60px !important;
	}

	.ddlMaterials {
		width: 200px !important;
	}

	.table-border {
		border: 1px solid #e1e1e1 !important;
	}

	.td-border {
		border-right: none !important;
	}

	.large-button {
		padding: 8px 24px;
		/*font-size: 18px;*/
		border-radius: 6px;
		background-color: #28a745;
		color: white;
		border: none;
		cursor: pointer;
		display: block; /* Ensures proper centering */
		margin: auto; /* Centers horizontally */
	}

	.k-window {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;
	}

	.textpadding {
		padding-left: 5px;
	}

	.material-font {
		font-size: 11px;
		width: 200px;
	}

	.kendo-row {
		border: 1px solid #ddd;
	}

	.header {
		text-align: center !important;
		font-weight: bold !important;
	}

	td.SNo_child {
		text-align: right !important;
	}

	.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a {
		background: rgb(67, 163, 46) !important;
		border-left: 4px solid #008000 !important;
		color: #ffffff;
	}

	/* Normalize layout across medium/large screens */
	.input-text,
	.form-text,
	.ddlMaterials {
		width: 100% !important;
		max-width: 100%;
	}
	/* Harmonize excessive custom margins within Bootstrap grid */
	.div-margin,
	.div-margin-master,
	.div-margin-master-textbox {
		margin-right: 16px !important;
	}
	/* Align label used as section heading without arbitrary left offset */
	.label-font {
		margin: 0 0 8px 0 !important;
	}
	/* Reflow Date/Miti cluster and remove negative offsets */
	.div-margin-master-date {
		display: flex;
		align-items: flex-end;
		gap: 12px;
		margin-right: 16px !important;
	}

		.div-margin-master-date > label {
			margin: 0 !important;
		}

		.div-margin-master-date .col-xs-12,
		.div-margin-master-date .col-sm-12,
		.div-margin-master-date .col-md-12 {
			margin-left: 0 !important;
			padding-left: 0;
			padding-right: 0;
		}

	/* Tidy slider labels spacing on wide screens as well */
	.slider-container {
		display: flex;
		align-items: center;
		/*gap: 12px;*/
		flex-wrap: wrap;
	}

	label#idGRNNo {
		margin-left: 0 !important;
	}

	/* Tables: ensure predictable sizing and scrolling when needed */
	.table-responsive {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	.document_child_table {
		width: 100%;
		table-layout: auto;
	}

		.document_child_table th,
		.document_child_table td {
			white-space: nowrap;
		}

		.document_child_table input.form-control {
			width: 100% !important;
		}

	/* Constrain overall content width on very large screens for visual balance */
	@@media (min-width: 1400px) {
		.portlet.box.green-box.main {
			max-width: 1320px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	/* Ensure consistent sizing inside this view */
	.bodyController input,
	.bodyController select,
	.bodyController textarea {
		box-sizing: border-box;
	}

	/* Responsive adjustments: keep changes scoped to this view only */
	@@media (max-width: 991.98px) {
		/* Make text inputs and dropdowns fluid on smaller screens */
		.input-text,
		.form-text,
		.input-6,
		.input-3,
		.ddlMaterials {
			width: 100% !important;
		}
		/* Remove large right-margins that cause overflow on small screens */
		.div-margin,
		.div-margin-master,
		.div-margin-master-textbox {
			margin-right: 0 !important;
		}
		/* Tidy header label spacing */
		.label-font {
			margin: 0 0 5px 0 !important;
			text-align: left;
		}
		/* Prevent off-canvas stamp section */
		.stamp-details {
			margin-left: 0 !important;
			width: auto !important;
		}
		/* Reflow Date/Miti block */
		#registeredVehicle .div-margin-master-date {
			display: block;
			margin-right: 0 !important;
		}

			#registeredVehicle .div-margin-master-date > label {
				margin: 0 0 6px 0 !important;
			}

			#registeredVehicle .div-margin-master-date .col-xs-12,
			#registeredVehicle .div-margin-master-date .col-sm-12,
			#registeredVehicle .div-margin-master-date .col-md-12 {
				margin-left: 0 !important;
				padding-left: 0;
				padding-right: 0;
			}
		/* Improve slider layout */
		.slider-container {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 8px;
		}

			.slider-container label {
				margin: 0 !important;
			}
		/* Ensure table inputs fit their cells */
		.document_child_table input.form-control {
			width: 100% !important;
		}
		/* Guarantee horizontal scroll for wide tables */
		.table-responsive {
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
		}
	}
</style>
<link href="@Styles.Url("~/Areas/NeoERP.QCQAManagement/Content/QCQASetup.css")" rel="stylesheet" />
<div class="col-md-12 bodyController" ng-controller="GlobalAgroProductsList">
	<div class="portlet light form-fit bordered bottomspance">
		<div class="portlet box green-box main">
			<div class="portlet-title">
				<div class="caption">
					<a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/QuotationManagement/Home/Dashboard">
						<i class="fa fa-arrow-circle-left"></i>
					</a>
					<i class="fa fa-gift font-white-haze"></i>
					<span class="caption-subject font-white-haze bold uppercase">Global Agro Products (Pvt) Ltd.</span>
				</div>
			</div>

			<div class="row" style="margin-top: 10px;">
				<form id="registeredVehicle" name="registeredVehicle">
					<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
						<div class="form-group col-md-3 col-sm-3 div-margin-master">
							<label for="element">PON No:</label>
							<div>
								<input type="text" ng-model="TRANSACTION_NO" ng-init="TRANSACTION_NO='@ViewBag.QCNO'" disabled>
								<span type="hidden" class="hidTRANSACTION_NO" style="visibility:hidden">'@ViewBag.QCNO'</span>
								<span type="hidden" id="idFormCode" style="visibility:hidden">@ViewBag.formCode</span>
							</div>
						</div>
						<div class="form-group col-md-4 div-margin-master-date" style="margin-top: 0px !important;margin-left:38px;">
							@*<label style="margin: -18px 0px 0px 50px;" for="element">Date/Miti</label>*@
							<div class="col-xs-12 col-sm-12 col-md-12">
								<label style="margin-bottom: 5px !important;" for="element">Date/Miti</label>
								<input style="width: 55% !important;" id="englishdatedocument" autocomplete="off" class="englishdate" kendo-date-picker
									   ng-model="CREATED_DATE"
									   k-options="monthSelectorOptions" />
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12">
								<input type="text" style="width: 60% !important; margin-left:-33px !important;" id="nepaliDate5" data-checkfor="englishdatedocument" autocomplete="off" onchange="ConvertNepToEng(this)" class="nepali-calendar" next-on-tab />
								<i class="fa fa-calendar form-control-feedback calendar-icon-2" style="padding-right:93px;"></i>
							</div>
						</div>
						<div class="form-group col-md-3 col-sm-3" style="margin-left:-86px;">
							<div class="slider-container">
								<label id="idGateNo">Gate No</label>
								<label id="idGRNNo" style="margin-left: 55px !important; ">GRN No</label>
								<input type="range" ng-model="SLIDER_VALUE" id="gate-grn-Slider" min="0" max="1" step="1" value="0">

							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
						<div class="form-group col-md-3 col-sm-3 div-margin-master-textbox">
							<label for="element">Select Items</label>
							<div class="row" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.3rem;">
								<div class="col-md-6" style="flex: 1; margin-bottom:6px;">
									<div class="topsearch" style="display: block;">
										<select id="ddlMaterials" k-ng-model="item_code" kendo-drop-down-list
												k-options="ddlMaterials"
												class="ddlMaterials">
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group col-md-3 col-sm-3 div-margin-master-second-textbox">
							<label for="element">Gate/GRN No</label>
							<input type="text" id="idGateOrGrnNo" ng-model="GATE_OR_GRN_NO" class="input-text" autocomplete="off">
						</div>
						<div class="form-group col-md-1 col-sm-1 div-margin-master-third-textbox">
							<label for="element">Vehicle No</label>
							<input type="text" id="idVehicleNo" ng-model="VEHICLE_NO" class="input-text" autocomplete="off">
						</div>
					</div>
					<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform">
						<div class="form-group col-md-3 col-sm-3 div-margin-master-textbox">
							<label for="element">Party Name</label>
							<input type="text" id="idPartyName" ng-model="PARTY_NAME" class="input-text" autocomplete="off">
						</div>
						<div class="form-group col-md-3 col-sm-3 div-margin-master-second-textbox">
							<label for="element">Address</label>
							<input type="text" id="idAddress" ng-model="ADDRESS" class="input-text" autocomplete="off">
						</div>
						<div class="form-group col-md-3 col-sm-3 div-margin-master-third-textbox">
							<label for="element">Bill No</label>
							<input type="text" id="idBillNo" ng-model="BILL_NO" class="input-text" autocomplete="off">
						</div>
					</div>
				</form>
			</div>
			<div class="portlet-body light bg-inverse">
				<div id="ItemGrid" data-role="grid" class="k-grid k-widget k-display-block">

					<div class="row" style="margin-bottom: 10px; margin-top: 10px;">
						<form id="" name="registeredVehicle">
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Physical Tests of raw material (in %) </label>
									<input type="text" ng-model="PHYSICAL_TEST_RAWMATERIAL" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Weight: 100 grams no. of grains </label>
									<input type="text" ng-model="WEIGHT" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Moisture % </label>
									<input type="text" ng-model="MOISTURE" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Temperature</label>
									<input type="text" ng-model="TEMPERATURE" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Wet</label>
									<input type="text" ng-model="WET" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Fungus %</label>
									<input type="text" ng-model="FUNGUS" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<label for="element">Dust</label>
									<input type="text" ng-model="DUST" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Grading</label>
									<input type="text" ng-model="GRADING" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 ">
									<label for="element">Smell</label>
									<input type="text" ng-model="SMELL" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3  div-margin">
									<label for="element">Color</label>
									<input type="text" ng-model="COLOR" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Dana Futeko %</label>
									<input type="text" ng-model="BROKEN" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Immaturity of grains</label>
									<input type="text" ng-model="IMMATURITY_OF_GRAINS" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<label for="element">Foreign Material(Anya Bastu)</label>
									<input type="text" ng-model="OTHER_ITEMS" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Rotten Holed %(Kuhiyeko/Pwal Pareko)</label>
									<input type="text" ng-model="ROTTEN_HOLED" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Damaged(Dalla Pareko)</label>
									<input type="text" ng-model="DAMAGED" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<label for="element">Dana Tukriyeko %</label>
									<input type="text" ng-model="PIECES" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Husk(Dadalno)</label>
									<input type="text" ng-model="HUSK" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Overtoasted</label>
									<input type="text" ng-model="OVERTOASTED" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<label for="element">Useable</label>
									<input type="text" ng-model="USEABLE" class="input-text">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Unusable</label>
									<input type="text" ng-model="UNUSEABLE" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 ">
									<label for="element">Fat %</label>
									<input type="text" ng-model="FAT" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3  div-margin">
									<label for="element">Quality of Goods</label>
									<input type="text" ng-model="QUALITY_OF_GOODS" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Excellent</label>
									<input type="text" ng-model="EXCELLENT" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Great</label>
									<input type="text" ng-model="GREAT" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3  div-margin">
									<label for="element">Normal</label>
									<input type="text" ng-model="GOODS_NORMAL" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Warehouse</label>
									<input type="text" ng-model="WAREHOUSE" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<label for="element">Silo</label>
									<input type="text" ng-model="SILO" class="input-text" autocomplete="off">
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<label for="element">Ghan </label>
									<input type="text" ng-model="GHAN" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3 div-margin">
									<label for="element">Protein %</label>
									<input type="text" ng-model="PROTEIN" class="input-text" autocomplete="off">
								</div>
								<div class="form-group col-md-3 col-sm-3">
									<div>
										<label for="element">Quality of Firewood</label>
										<input type="text" ng-model="QUALITY_OF_FIREWOOD" class="input-text" autocomplete="off">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-margin-top">
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<div>
										<label for="element">Size</label>
										<input type="text" ng-model="PRODUCT_SIZE" class="input-text" autocomplete="off">
									</div>
								</div>
								<div class="form-group col-md-3 col-sm-3   div-margin">
									<div>
										<label for="element">Type</label>
										<input type="text" ng-model="PRODUCT_TYPE" class="input-text" autocomplete="off">
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 form-group nopadding-right dynamicform div-second-margin-top">
								<div class="col-sm-6 col-md-6 col-lg-6">
									<div>
										<label for="element">Remarks : </label>
										<textarea id="idPRODUCT_REMARKS" ng-model="PRODUCT_REMARKS" class="input-text" style="border: solid #ddd 1px;"></textarea>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="tab-content d-tab-content">
						<div class="tab-pane active" id="tab_15_1">
							<div class="table-responsive">
								<div class="col-md-12 col-sm-12">
									<label for="element" class="label-font">Weight Details (KG)</label>

									<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6 table-border">

										<thead class="child-table-head">
											<tr>
												<th class="SNo header">S/No</th>
												<th class="FirstWeight header">First weight </th>
												<th class="TimePeriod header">Second Weight</th>
												<th class="ProductName header">Net Weight</th>
												<th class="BatchNo header">Challan Weight</th>
												<th class="LooseProduct header">Weight difference</th>
												<th class="UnsealedPacket header">Remarks</th>
												<!-- Action column -->
												<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
											</tr>
										</thead>
										<tbody class="table_body">
											<tr ng-repeat="(key1,row) in WeightDetailsData" id="idGlobalProducts">
												<td class="SNo_child td-border" style="background-color: #eeeeee;">
													{{key1 + 1}}
												</td>
												<td class="td-border">
													<div>
														<input id="id_FIRST_WEIGHT" type="text" ng-model="childWeightDetailsModels[key1]['FIRST_WEIGHT']" autocomplete="off" class="form-control FIRST_WEIGHT_{{key1}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateWeightNetTotal(key1)" />
													</div>
												</td>
												<td class="td-border">
													<div>
														<input id="id_SECOND_WEIGHT" type="text" ng-model="childWeightDetailsModels[key1]['SECOND_WEIGHT']" autocomplete="off" class="form-control SECOND_WEIGHT_{{key1}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateWeightNetTotal(key1)" />
													</div>
												</td>
												<td class="td-border">
													<div>
														<input id="id_NET_WEIGHT" type="text" ng-model="childWeightDetailsModels[key1]['NET_WEIGHT']" autocomplete="off" class="form-control NET_WEIGHT_{{key1}}" disabled />
													</div>
												</td>
												<td class="td-border">
													<div>
														<input id="id_CHALLAN_WEIGHT" type="text" ng-model="childWeightDetailsModels[key1]['CHALLAN_WEIGHT']" autocomplete="off" class="form-control day_child CHALLAN_WEIGHT_{{key1}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateWeightDifference(key1)" />
													</div>
												</td>
												<td class="td-border">
													<div>
														<input id="id_WEIGHT_DIFFERENCE" type="text" ng-model="childWeightDetailsModels[key1]['WEIGHT_DIFFERENCE']" autocomplete="off" class="form-control day_child WEIGHT_DIFFERENCE_{{key1}}" disabled />
													</div>
												</td>
												<td class="td-border">
													<div>
														<input id="id_Weight_REMARKS" type="text" ng-model="childWeightDetailsModels[key1]['REMARKS']" autocomplete="off" class="form-control day_child REMARKS_{{key1}}" />
													</div>
												</td>
												<td class="btn-action">
													<a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element_weightDetails($index)"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>
													<a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element_weightDetails($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-12 col-sm-12">
									<label for="element" class="label-font">Unloaded Chhalli Details</label>

									<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6 table-border">

										<thead class="child-table-head">
											<tr>
												<th class="SNo header">S/No</th>
												<th class="TimePeriod header">1</th>
												<th class="TimePeriod header">2</th>
												<th class="ProductName header">3</th>
												<th class="BatchNo header">4</th>
												<th class="header">5</th>
												<th class="header">6</th>
												<th class="header">7</th>
												<th class="header">8</th>
												<th class="header">9</th>
												<th class="header">10</th>
												<th class="header">11</th>
												<th class="header">12</th>
												<th class="header">Total</th>
												<!-- Action column -->
												<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
											</tr>
										</thead>
										<tbody class="table_body">

											<tr ng-repeat="(key,row) in UNLOADEDCHHALLIList" id="idLoadedChhalli">
												<td class="SNo_child td-border" style="background-color: #eeeeee;">
													{{key + 1}}
												</td>
												<td class="TimePeriod td-border" id="idDailyWastage123">
													<div>
														<input id="id_FIRST_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['FIRST_CHHALLI']" autocomplete="off" class="form-control day_child FIRST_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="TimePeriod td-border" id="idDailyWastage123">
													<div>
														<input id="id_SECOND_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['SECOND_CHHALLI']" autocomplete="off" class="form-control day_child SECOND_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="ProductName td-border">
													<div>
														<input id="id_THIRD_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['THIRD_CHHALLI']" autocomplete="off" class="form-control day_child THIRD_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="BatchNo td-border">
													<div>
														<input id="id_FOURTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['FOURTH_CHHALLI']" autocomplete="off" class="form-control day_child FOURTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="LooseProduct_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_FIFTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['FIFTH_CHHALLI']" autocomplete="off" class="form-control day_child FIFTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="LooseProduct_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_SIXTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['SIXTH_CHHALLI']" autocomplete="off" class="form-control day_child SIXTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="UnsealedPacket_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_SEVENTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['SEVENTH_CHHALLI']" autocomplete="off" class="form-control day_child SEVENTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="UnsealedPacket_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_EIGHTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['EIGHTH_CHHALLI']" autocomplete="off" class="form-control day_child EIGHTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="SealedPacket_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_NINETH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['NINETH_CHHALLI']" autocomplete="off" class="form-control day_child NINETH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="SealedPacket_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_TENTH_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['TENTH_CHHALLI']" autocomplete="off" class="form-control day_child TENTH_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="CartonBag_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_ELEVEN_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['ELEVEN_CHHALLI']" autocomplete="off" class="form-control day_child ELEVEN_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="CartonBag_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_TWELVE_CHHALLI" type="text" ng-model="childUnloadedChalliModels[key]['TWELVE_CHHALLI']" autocomplete="off" class="form-control day_child TWELVE_CHHALLI_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateTotal(key)" />
													</div>
												</td>
												<td class="WrapperInPrinter_Defect td-border" id="idDailyWastage123" style="background-color: #eeeeee;">
													<div>
														<input id="id_TOTAL" type="text" ng-model="childUnloadedChalliModels[key]['TOTAL']" autocomplete="off" class="form-control day_child TOTAL_{{key}}" disabled />
													</div>
												</td>
												<td class="btn-action">
													<a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element_unloadedChhalli($index)"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>
													<a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element_unloadedChhalli($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-12 col-sm-12">
									<label for="element" class="label-font">Dakhila Details</label>

									<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6 table-border">

										<thead class="child-table-head">
											<tr>
												<th class="SNo header">SN</th>
												<th class="TimePeriod header">Entry No</th>
												<th class="ProductName header">Bill No.</th>
												<th class="BatchNo header">Chalan No.</th>
												<th class="LooseProduct header">Item</th>
												<th class="UnsealedPacket header">Total Bag</th>
												<th class="LooseProduct header">Weight Kg</th>
												<th class="UnsealedPacket header">Remarks</th>
												<!-- Action column -->
												<th rowspan="2" class="btn-action" style="width:8%;">&nbsp;</th>
											</tr>


										</thead>
										<tbody class="table_body">

											<tr ng-repeat="(key,row) in DAKHILADETAILSList" id="idDakhilaDetail">
												<td class="SNo_child" style="background-color: #eeeeee;">
													{{key + 1}}
												</td>
												<td class="TimePeriod td-border" id="idDailyWastage123">
													<div>
														<input id="id_ENTRY_NO" type="text" ng-model="childDakhilaDetailsModels[key]['ENTRY_NO']" autocomplete="off" class="form-control day_child ENTRY_NO_{{key}}" />
													</div>
												</td>
												<td class="ProductName td-border">
													<div>
														<input id="id_BILL_NO" type="text" ng-model="childDakhilaDetailsModels[key]['BILL_NO']" autocomplete="off" class="form-control day_child BILL_NO_{{key}}" />
													</div>
												</td>
												<td class="BatchNo td-border">
													<div>
														<input id="id_CHALAN_NO" type="text" ng-model="childDakhilaDetailsModels[key]['CHALAN_NO']" autocomplete="off" class="form-control day_child CHALAN_NO_{{key}}" />
													</div>
												</td>
												<td class="LooseProduct_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_ITEM" type="text" ng-model="childDakhilaDetailsModels[key]['ITEM']" autocomplete="off" class="form-control day_child ITEM_{{key}}" />
													</div>
												</td>
												<td class="LooseProduct_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_TOTAL_BAG" type="text" ng-model="childDakhilaDetailsModels[key]['TOTAL_BAG']" autocomplete="off" class="form-control day_child TOTAL_BAG_{{key}}" />
													</div>
												</td>
												<td class="UnsealedPacket_Sample td-border" id="idDailyWastage123">
													<div>
														<input id="id_WEIGHT" type="text" ng-model="childDakhilaDetailsModels[key]['WEIGHT']" autocomplete="off" class="form-control day_child WEIGHT_{{key}}" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateNetTotal(key)" />
													</div>
												</td>
												<td class="UnsealedPacket_Defect td-border" id="idDailyWastage123">
													<div>
														<input id="id_Dakhila_REMARKS" type="text" ng-model="childDakhilaDetailsModels[key]['REMARKS']" autocomplete="off" class="form-control day_child REMARKS_{{key}}" />
													</div>
												</td>

												<td class="btn-action">
													<a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element_dakhilaDetails($index)"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>
													<a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element_dakhilaDetails($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
												</td>

											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div style="padding:10px;">
							Deduct in Bag (
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px;">
								Plastic
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISPLASTIC_BAG"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>

							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 15px;">
								Jute
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISJUTE_BAG"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span> )
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 15px;">
								<input type="text" ng-model="DEDUCT_IN_BAG" class="input-text" autocomplete="off" style="border: solid #ddd 1px;" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateNetTotal(key)">
							</span>
						</div>

					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div style="padding:10px;">
							Deduct in weight ( Moisture, Dirt/Dust, Sand,
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 5px;">
								Plastic, Stone
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISPLASTIC_WEIGHT"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 15px;">
								Jute
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISJUTE_WEIGHT"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span> )
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 15px;">
								<input type="text" ng-model="DEDUCT_IN_WT" class="input-text" autocomplete="off" style="border: solid #ddd 1px;" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateNetTotal(key)">
							</span>
						</div>
					</div>

					<div class="col-sm-12 col-md-12 col-lg-12">
						<div style="padding:10px;">
							<label for="element">Net weight Kg : </label>
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 15px;">
								<input type="text" ng-model="NET_WEIGHT" autocomplete="off" class="input-text" style=" border: solid #ddd 1px;" onkeypress="return event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46" ng-keyup="updateNetTotal(key)" disabled>
							</span>
						</div>
					</div>
					<div class="col-sm-11 col-md-11 col-lg-11">
						<div style="padding:10px;">
							<label for="element">Remarks : </label>
							<textarea id="idREMARKS" ng-model="REMARKS" autocomplete="off" class="input-text" style="border: solid #ddd 1px;"></textarea>
						</div>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div style="padding:10px;">
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 5px;">
								Unload
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISUNLOAD"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 40px;">
								Protein
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISPROTEIN"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 40px;">
								PT
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISPT"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>
							<span style="display: inline-flex; align-items: center; line-height: 1; font-size: 14px; margin-left: 40px;">
								Out(Bahiri)
								<input type="checkbox"
									   style="margin-left: 5px; width: 16px; height: 16px; margin-top: 0px;"
									   ng-model="ISOUT"
									   ng-true-value="'Y'"
									   ng-false-value="'N'">
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-green" ng-hide="panelMode === 'view'" id="savedocumentformdata" ng-click="saveGlobalAgroProducts()" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
				<i class="fa fa-floppy-o"></i> Save
			</button>
			@*<button type="button" class="btn btn-sm btn-danger" ng-click="ItemCancel()" data-dismiss="modal">
					<i class="fa-solid fa-xmark"></i> Cancel
				</button>*@
		</div>
	</div>
</div>

<div id="showModel" class="modal modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="width:200px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<span>Saved successfully</span>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-green clsOK" data-dismiss="modal" ng-click="ok">OK</button>
			</div>
		</div>
	</div>
</div>
<div id="printShowModel" class="modal modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content" style="width:300px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<span>Do you want to print Transaction N. [@ViewBag.QCNO].</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-green clsYes" data-dismiss="modal">Yes</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ok">No</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade-out" id="saveAndPrintGlobalAgroProductsModal" data-backdrop="static" tabindex="-1" data-width="560">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">

				<h4 class="modal-title">
					<span class="fa fa-print"></span>

				</h4>
			</div>

			<div id="saveAndPrintGlobalAgroProductsModalFor" class="modal-body saveAndPrintModal main">
				<form name="saveAndPrint" class="form-horizontal">
					@Html.Partial("~/Areas/NeoERP.QCQAManagement/Views/Shared/PrintTemplate/Self_GlobalAgroProductsPrintTemplate.cshtml")
				</form>
			</div>

			<div class="modal-footer">
				<a ng-click="printIncomingMaterial('saveAndPrintGlobalAgroProductsModalFor')" class="btn btn-sm btn-green clsIncomingPrint" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
					<i class="fa fa-floppy-o"></i> Print
				</a>
				<a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
			</div>
		</div>
	</div>
</div>
<script>
	var a = location.hash;
	var b = location.pathname;
	var url = (b + a);
	$(".active").removeClass();
	$("a[href='" + url + "']").parent().addClass("active");
	$("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script>
	function dateSet(date) {
		var month = date.getMonth() + 1;
		var day = date.getDate();
		date = date.getFullYear() + '/' +
			(('' + month).length < 2 ? '0' : '') + month + '/' +
			(('' + day).length < 2 ? '0' : '') + day;
		return date;
	}

	function setNepaliDateFromEnglish() {
		var engDate = $("#englishdatedocument").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#englishdatedocument").val(formattedDate);
		var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
		$("#issueNep").val(nepaliDate);
	}

	function NepaliDateFromEnglish() {
		var engDate = $("#validDt").val();
		var formattedDate = moment(engDate, 'M/D/YYYY').format('DD-MMM-YYYY');
		$("#validDt").val(formattedDate);

		var formattedEngDate = moment(engDate, 'M/D/YYYY').format('YYYY-MM-DD');
		var nepaliDate = AD2BS(formattedEngDate);
		$("#nepaliDate").val(nepaliDate);

		var issueDt = moment($("#englishdatedocument").val(), 'DD-MMM-YYYY');
		var validUntilDt = moment(engDate, 'M/D/YYYY');

		if (validUntilDt.isBefore(issueDt)) {
			displayPopupNotification("To be Deliver Date cannot be greater than Date/Miti date.", "error");
		}
	}

	function ConvertNepToEng(e) {
		var date = BS2AD($("#issueNep").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#englishdatedocument").val(FormattedEngDate);
	}

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepaliDate = $("#issueNep").val(); // Get the Nepali date value
			var engDate = BS2AD(nepaliDate); // Convert Nepali date to English date
			var formattedEngDate = moment(engDate).format('DD-MMM-YYYY'); // Format the English date
			$("#englishdatedocument").val(formattedEngDate); // Update the English date input field
		}
	});

	function NepToEng(e) {
		var date = BS2AD($("#nepaliDate").val());
		var FormattedEngDate = moment(date).format('DD-MMM-YYYY');
		$("#validDt").val(FormattedEngDate);
	}

	$(".nepali-calendar").nepaliDatePicker({
		npdMonth: true,
		onFocus: true,
		npdYear: true,
		npdYearCount: 10,
		altFormat: "dd-MMM-YYYY",
		dateFormat: "dd-MMM-YYYY",
		onChange: function (evt) {
			var nepalidate = $("#nepaliDate5").val();
			var Engdate = BS2AD(nepalidate);
			var cmpEngDate = moment(Engdate).format('YYYY/MM/DD');
			var FormattedEngDate = moment(Engdate).format('DD-MMM-YYYY');
			var date = new Date();
			var formBackDays = $('#hdnformBackDays').val();
			date.setDate(date.getDate() - formBackDays);
			var minDate = dateSet(date);
			var maxDate = dateSet(new Date());
			$("#englishdatedocument").val(FormattedEngDate);
		}
	});
	$(document).ready(function () {
		const slider = document.getElementById("gate-grn-Slider");
		var slider_value = "0";
		slider.addEventListener("change", function () {
			slider_value = parseFloat(slider.value);
			const min = parseFloat(slider.min);
			const max = parseFloat(slider.max);
			if (slider_value === min) {
				console.log("0");
			} else if (slider_value === max) {
				console.log("1");
			} else {
				console.log("Slider is at an intermediate value.");
			}
		});
		var ddlUrl = window.location.protocol + "//" + window.location.host + "/api/IncomingMaterialAPI/MaterialListsByCategory?CategoryCode=RM"
		var defaultValue = "QC_Master_Setup";
		var ddlMaterials = $("#ddlMaterials").kendoDropDownList({
			optionLabel: "-- Select Material--",
			dataTextField: "item_edesc", // Field name for the dropdown text
			dataValueField: "item_code", // Field name for the dropdown value
			autoBind: false, // Prevent auto-binding until we load the data
			filter: "contains",
			dataSource: {
				transport: {
					read: {
						url: ddlUrl,
						dataType: "json",
						success: function (data) {
							data.forEach(item => {
							});
							// Populate the dropdown
							ddlMaterials.data("kendoDropDownList").setDataSource(new kendo.data.DataSource({
								data: data
							}));
							ddlMaterials.data("kendoDropDownList").enable(true); // Enable dropdown after loading data
						},
						error: function (xhr, status, error) {
							console.error("Error loading dropdown data:", error);
						}
					}
				}
			},
			dataBound: function () {
				var dropdown = this;
				var items = dropdown.dataSource.data();
				// Check if the default value exists in the data
				var exists = items.some(function (item) {
					return item.TABLE_NAME === defaultValue;
				});

				if (exists) {
					dropdown.value(defaultValue);  // Set default value
				}
			},
			change: function (e) {
				var dropdown = e.sender;
				var selectedValue = dropdown.value();
				var scope = angular.element($("#ddlMaterials")).scope();
				scope.$apply(function () {
					scope.tableName = selectedValue;
				});
			}, height: 200
		}).data("kendoDropDownList");

		$(document).on('click', '.clsSupplier', function (e) {
			e.preventDefault();
			var inputElement = $(this).closest('.input-group').find('.hidItemCode');
			var productIndex = $(this).closest('.input-group').find('input[product-index]').attr('product-index');
			var selectedVal = inputElement.val(); // Get value from input
			if (selectedVal) {
				ShowPopupList(selectedVal, productIndex, "RM"); // Show popup with details For Raw Materials
			}
		});
		var bindingSelectedValue = 0;
		$("#ddlMaterials").on('change', function (e) {
			e.preventDefault();
			var selectedVal = $(this).val(); // Get selected value
			bindingSelectedValue = selectedVal;
			if (selectedVal) {
				ShowPopupList(selectedVal, 0, "RM"); // Show popup with details For Finished Goods
			}
			$("#ddlMaterials").data("kendoDropDownList").bind("select", function (e) {
				var selectedVal = bindingSelectedValue;
				ShowPopupList(selectedVal, 0, "RM");
			});
		});
		function ShowPopupList(itemCode, index, ItemName) {
			// Example: Fetch details from an API
			if (slider_value == "0") {
				$.get("/api/GlobalAgroProductsAPI/GetGateEntryDetailsByItemId?ItemCode=" + itemCode, function (response) {
					if ($("#popupWindow").length === 0) {
						$("body").append('<div id="popupWindow"></div>');
					}
					$("#popupWindow").kendoWindow({
						width: "800px",
						height: "300px",
						title: "Select Voucher",
						visible: false,
						modal: true,
						actions: ["Close"]
					});
					var popupWindow = $("#popupWindow").data("kendoWindow");
					let grn_ContentHtml = [];
					grn_ContentHtml.push(`<input type="text" id="searchInputText" placeholder="Search..." style="width: 35%; position: inherit; margin-bottom: 10px; border: 1px solid #ccc;height: 25px;" />`);
					grn_ContentHtml.push(`<table id="voucherList" class="voucher-list" border='1' style='border-collapse: collapse; width: 100%;'>
											<tr style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;height: 25px;">
											<td class=textpadding><b>GATE ENTRY NO</b></td>
											<td class=textpadding><b>GATE ENTRY MITI</b></td>
											<td class=textpadding><b>SUPPLIER NAME</b></td>
											<td class=textpadding><b>INVOICE NO</b></td>
											<td></td></tr>`);

					$.each(response, function (index, value) {
						grn_ContentHtml.push(`<tr data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" style="padding:5px; border-bottom:1px solid #ccc; font-size: 14px;">
											<td class=textpadding>${value.Voucher_No}</td>
											<td class=textpadding>${value.MITI}</td>
											<td class=textpadding>${value.supplier_edesc}</td>
											<td class=textpadding>${value.invoice_no}</td>
											<td><button class="btnClass voucher-item large-button" data-supplier="${value.SUPPLIER_CODE}" data-voucher="${value.Voucher_No}" type="button">Ref</button></td>
											</tr>`);
					});

					grn_ContentHtml.push(`</table>`);

					// Inject once
					popupWindow.content(grn_ContentHtml.join(''));
					popupWindow.center().open();

					$("#searchInputText").on("keyup", function () {
						var searchText = $(this).val().toLowerCase();

						$("#voucherList tbody tr").each(function () {
							var rowText = $(this).find("td").map(function () {
								return $(this).text().toLowerCase();
							}).get().join(" "); // Join all cell values for a full-row search

							$(this).toggle(rowText.includes(searchText));
						});
					});
					//});

					$("#voucherList").on("click", "tr", function (e) {
						var selectedVoucher = $(this).attr("data-voucher");
						var selectedSupplier = $(this).attr("data-supplier");
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/GlobalAgroProductsAPI/GlobalAgroMaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#idPartyName').val(response_MatDetails[0].supplier_edesc);
								$('#idBillNo').val(response_MatDetails[0].invoice_no);
								$('#idVehicleNo').val(response_MatDetails[0].VEHICLE_NO);
								$('#idGateOrGrnNo').val(selectedVoucher);
								$('#idAddress').val(response_MatDetails[0].ADDRESS);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
					$(document).on("click", ".btnClass", function () {
						var classes = this.classList;
						var selectedVoucher = null;
						var selectedSupplier = null;
						// Loop through each token in classList and check for one that starts with "data-voucher="
						classes.forEach(function (token) {
							if (token.indexOf("data-voucher=") === 0) {
								// Extract the part after "data-voucher="
								selectedVoucher = token.substring("data-voucher=".length);
								selectedSupplier = token.substring("data-supplier=".length);
							}
						});
						//var selectedVoucher = $(this).attr("data-voucher");
						$('#idGRNNo').val(selectedVoucher);

						$.get("/api/GlobalAgroProductsAPI/GlobalAgroMaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#idPartyName').val(response_MatDetails[0].supplier_edesc);
								$('#idBillNo').val(response_MatDetails[0].invoice_no);
								$('#idVehicleNo').val(response_MatDetails[0].VEHICLE_NO);
								$('#idGateOrGrnNo').val(selectedVoucher);
								$('#idAddress').val(response_MatDetails[0].ADDRESS);
							}
						});
						// Update the corresponding textbox value dynamically

						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
				});
			}
			else {
				$.get("/api/GlobalAgroProductsAPI/GetGRNDetailsByItemId?ItemCode=" + itemCode, function (response) {
					if ($("#popupWindow").length === 0) {
						$("body").append('<div id="popupWindow"></div>');
					}
					$("#popupWindow").kendoWindow({
						width: "800px",
						height: "300px",
						title: "Select Voucher",
						visible: false,
						modal: true,
						actions: ["Close"]
					});
					var popupWindow = $("#popupWindow").data("kendoWindow");
					let contentHtml = [];
					contentHtml.push(`
								  <input type="text" id="searchInputText" placeholder="Search..."
										 style="width: 35%; position: inherit; margin: 4px 0 10px 0; border: 1px solid #ccc; height: 25px;" />
								  <table id="voucherList" class="voucher-list" border="1"
										 style="border-collapse: collapse; width: 100%;">
									<tr style="padding: 5px; border-bottom: 1px solid #ccc; font-size: 14px; height: 25px;">
									  <td class="textpadding"><b>GRN NO</b></td>
									  <td class="textpadding"><b>GRN MITI</b></td>
									  <td class="textpadding"><b>SUPPLIER NAME</b></td>
									  <td class="textpadding"><b>INVOICE NO</b></td>
									  <td></td>
									</tr>
								`);
					$.each(response, function (index, value) {
						contentHtml.push(`
										<tr data-voucher="${value.Voucher_No}"
											style="padding: 5px; border-bottom: 1px solid #ccc; font-size: 14px;">
										  <td class="textpadding">${value.Voucher_No}</td>
										  <td class="textpadding">${value.MITI}</td>
										  <td class="textpadding">${value.supplier_edesc}</td>
										  <td class="textpadding">${value.invoice_no}</td>
										  <td>
											<button class="btnClass voucher-item large-button"
													data-voucher="${value.Voucher_No}" type="button">
											  Ref
											</button>
										  </td>
										</tr>
									  `);
					});
					contentHtml.push(`</table>`);
					popupWindow.content(contentHtml.join(''));
					popupWindow.center().open();
					$("#searchInputText").on("keyup", function () {
						var searchText = $(this).val().toLowerCase();
						$("#voucherList tbody tr").each(function () {
							var rowText = $(this).find("td").map(function () {
								return $(this).text().toLowerCase();
							}).get().join(" "); // Join all cell values for a full-row search
							$(this).toggle(rowText.includes(searchText));
						});
					});
					//});
					$("#voucherList").on("click", "tr", function (e) {
						var selectedVoucher = $(this).attr("data-voucher");
						var selectedSupplier = $(this).attr("data-supplier");
						$('#idGRNNo').val(selectedVoucher);

						$.get("/api/GlobalAgroProductsAPI/GlobalAgroMaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#idPartyName').val(response_MatDetails[0].supplier_edesc);
								$('#idBillNo').val(response_MatDetails[0].invoice_no);
								$('#idVehicleNo').val(response_MatDetails[0].VEHICLE_NO);
								$('#idGateOrGrnNo').val(selectedVoucher);
								$('#idAddress').val(response_MatDetails[0].ADDRESS);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});

					$(document).on("click", ".btnClass", function () {
						var classes = this.classList;
						var selectedVoucher = null;
						var selectedSupplier = null;
						// Loop through each token in classList and check for one that starts with "data-voucher="
						classes.forEach(function (token) {
							if (token.indexOf("data-voucher=") === 0) {
								// Extract the part after "data-voucher="
								selectedVoucher = token.substring("data-voucher=".length);
								selectedSupplier = token.substring("data-supplier=".length);
							}
						});
						$('#idGRNNo').val(selectedVoucher);
						$.get("/api/GlobalAgroProductsAPI/GlobalAgroMaterialDetailLists?VoucherNo=" + selectedVoucher, function (response_MatDetails) {
							if (ItemName === "RM") {
								$('#idPartyName').val(response_MatDetails[0].supplier_edesc);
								$('#idBillNo').val(response_MatDetails[0].invoice_no);
								$('#idVehicleNo').val(response_MatDetails[0].VEHICLE_NO);
								$('#idGateOrGrnNo').val(selectedVoucher);
								$('#idAddress').val(response_MatDetails[0].ADDRESS);
							}
						});
						var inputSelector = `.ccustomer_${key}`;
						$(inputSelector).val(selectedVoucher).trigger("input"); // Trigger input event for Angular binding
						popupWindow.close(); // Close popup after selection
					});
				});
			}
		}
		var grid = $("#ItemGrid").data("kendoGrid");
	});
</script>


