@{
	ViewBag.Title = "Home Page";
	Layout = "~/Areas/NeoERP.QCQAManagement/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/NeoERP.QCQAManagement/Content/hotkeys.css" rel="stylesheet" />
<style>

	.rightallign {
		font-weight: bold;
		font-size: 8px !important;
		float: right;
	}

	.comboBoxedescName {
		width: 65% !important;
		display: inline-block !important;
	}
</style>

<div class="row">
	<div ng-view></div>
</div>
@section scripts{
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/Angular-Module-underscore.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/handsontable.full.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/ngHandsontable.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/angularjs-dropdown-multiselect.min.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/Scripts/hotkeys.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/module/QCQAModule.js")"></script>

	<script src="@Scripts.Url("~/JS/DateFilter.js?V9")" type="text/javascript"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/IncomingMaterial.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/IncomingMaterialDirect.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/RawMaterial.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/QCQANumberSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/ParameterSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/ParameterInspectionSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/FinishedGoodsSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/DailyWastage.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/PreDispatchInspection.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/HandOverInspection.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/GlobalAgroProducts.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/ProductSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/InternalInspectionSetup.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/OnSiteInspection.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/InternalInspection.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/SanitationHygiene.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/SanitationHygieneReport.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/FinishedGoodsInspection.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/QCQADocumentFinder.js")"></script>

	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/DropDownCtrl/rawmaterialCode.js")"></script>
	<script src="@Scripts.Url("~/Areas/NeoERP.QCQAManagement/js/controller/DropDownCtrl/batchNo.js")"></script>

	<script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")"></script>
	<script>
		//Auto Scroll to TOP for QuotationManagement Form

		$(".k-list").slimScroll({
			position: 'right',
			alwaysVisible: false,
			//height: '350',
		});

		$('.modal').on('shown.bs.modal', function () {
			$(document).off('focusin.modal');
		});
		function formatValue(value, type, text) {

			if (type == null)
				type = "";
			if (text != undefined)
				if (text.indexOf("#") > -1)
					text = text.split("#")[1];
			var textMatcher = new RegExp(text, "ig");
			if (value != null) {
				var val = value.replace(textMatcher, function (match) {
					return "<u><strong>" + match + "</strong></u>";
				});
			}

			//$('.k-list.k-reset,.k-list-scroller,.k-animation-container,.k-list-container').css({ height: 'auto' })
			return "<span class='comboBoxedescName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";

		}

		function CollapseAll() {
			var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
			if (elementsA.length > 0) {

				for (var i = 0; i < elementsA.length; i++) {
					$(elementsA[i]).trigger("click");
				}
				return;
			}
			var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
			for (var i = 0; i < elementsB.length; i++) {
				$(elementsB[i]).trigger("click");
			}
		}

		function ExpandAll() {
			var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
			if (elementsB.length > 0) {

				for (var i = 0; i < elementsB.length; i++) {
					$(elementsB[i]).trigger("click");
				}
				return;
			}
			var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
			for (var i = 0; i < elementsA.length; i++) {
				$(elementsA[i]).trigger("click");
			}
		}</script>

	<style>

		strong {
			color: #0094ff;
		}
	</style>
}

